
    <div class="side-nav">
        <div class="user">
            <img src={{image.path}} class="user-img">
            <div>
                <h2>{{user.name}} {{user.lastname}}</h2>
                <p>{{user.email}}</p>
            </div>
            <img src="/images/star.png" class="star-img">
        </div>
        
        <div class="sidebar-icons">
            <ul>
                <li><img src="/images/dashboard.png">
                    <p>
                       <a href="https://www.google.com/">Dashboard</a>
                    </p>
                </li>
        
                <li><img src="/images/reports.png"><p>Reports</p></li>
        
                <li><img src="/images/rewards.png"><p>Rewards</p></li>
        
                <li><img src="/images/messages.png"><p>Messages</p></li>
        
                <li><img src="/images/video-chat.png"><p>Video Chat</p></li>
        
                <li><img src="/images/projects.png"><p>Our Projects</p></li>
        
                <li><img src="/images/members.png"><p>Core Members</p></li>
        
                <li><img src="/images/setting.png"><p>Settings</p></li>
            </ul>
        </div>
        
        <div class="sidebar-logut">
            <ul>
                <li><img src="/images/logout.png"><p>Logout</p></li>
            </ul>
        </div>

    </div>
