
<div class="side-nav">
        <div class="user">
            <img src="" class="user-img">
            <div>
                <h2>{{user.name}} {{user.lastname}}</h2>
                <p>{{user.email}}</p>
            </div>
            <img src="" class="star-img">
        </div>
        
        <div class="sidebar-icons">
            <ul>
                <li><img src="">
                    <p>
                       <a href="https://www.google.com/">Dashboard</a>
                    </p>
                </li>
        
                <li><img src=""><p>Reports</p></li>
        
                <li><img src=""><p>Rewards</p></li>
        
                <li><img src=""><p>Messages</p></li>
        
                <li><img src=""><p>Video Chat</p></li>
        
                <li><img src=""><p>Our Projects</p></li>
        
                <li><img src=""><p>Core Members</p></li>
        
                <li><img src=""><p>Settings</p></li>
            </ul>
        </div>
        
        <div class="sidebar-logut">
            <ul>
                <li><img src=""><p>Logout</p></li>
            </ul>
        </div>

    </div>
