{% for film in films %}
    <tr>
        <td class="border">{{ film.film_name }}</td>
        <td class="border">{{ film.director }}</td>
        <td class="border"> 
            <small>
                <button hx-get="/movie/{{ film.id }}/edit" class="btn btn-primary">
                    Edit
                </button>
                
                <button hx-delete="/movie/{{ film.id }}/delete" class="btn btn-primary">
                    Delete
                </button>
            </small>
        </td>
    </tr>
{% endfor %}